apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config
  namespace: grupo4
data:
  rabbitmq.conf: |
    loopback_users.guest = false
    listeners.tcp.default = 5672
    management.tcp.port = 15672
