apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: grupo4
  labels:
    app: ui
spec:
  type: NodePort
  ports:
  - name: http
    port: 8080
    targetPort: 3000
    nodePort: 30084
    protocol: TCP
  selector:
    app: ui
