apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: default
  labels:
    app: ui
spec:
  type: NodePort
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    nodePort: 30000
    protocol: TCP
  selector:
    app: ui
