apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: default
  labels:
    app: ui
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP
  selector:
    app: ui
