apiVersion: v1
kind: Service
metadata:
  name: consumer
  namespace: grupo4
  labels:
    app: consumer
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3001
    targetPort: 3001
    protocol: TCP
  selector:
    app: consumer
