apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: default
  labels:
    app: producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
      annotations:
        checksum/configmap: 14ae8ff9c8fad2269c980c0752fe0bd1a38c6de5f1e8ee15095ce6bf5a4ae3aa
        prometheus.io/scrape: "true"
        prometheus.io/port: "3002"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: producer
        image: 
          projetosysd/race-producer:4965b7d73d306841d162f1d2de5c9a1075b6ec1b
        ports:
        - name: http
          containerPort: 3002
          protocol: TCP
        envFrom:
        - configMapRef:
            name: producer-config
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "210m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3002
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3002
          initialDelaySeconds: 10
          periodSeconds: 5
