apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: default
  labels:
    app: producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
      - name: producer
        image: projetosysd/race-producer:c186aef82fe65ed5c6f4a2292dfab58f97fd1d32
        ports:
        - name: http
          containerPort: 3002
          protocol: TCP
        envFrom:
        - configMapRef:
            name: producer-config
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "210m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3002
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3002
          initialDelaySeconds: 10
          periodSeconds: 5
