apiVersion: v1
kind: Service
metadata:
  name: producer
  namespace: default
  labels:
    app: producer
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3002
    targetPort: 3002
    protocol: TCP
  selector:
    app: producer
